div#banner {
margin: 2.5px;
background: #DAA520;
opacity:0.5;
position: relative;
font: small-caps 40px/40px "TIMES NEW ROMAN", cursive;
font-weight: bolder;
color: #000;
text-align: left; 

}

div#banner { text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 150px #ff00de; 
             display: block;
             filter: glow(color=#0000ff,strength=3);     
}



div#container { 
max-width: 100%;	
clear:right;   
float:left;
width:761px;
margin:0 0 48px 0;
background-color:CCFF99;
position:relative;
z-index:1;
margin-top: 15px;
min-height: 300px;
opacity:0.8;
zoom:1.0;
padding: 72px;
height: auto;
box-shadow: 5px 5px 5px 5px #888;
-moz-box-shadow:5px 5px 5px #888;
-webkit-box-shadow: 5px 5px 5px #888;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
color: black;
	
}



html, body {
background-color: #e5e5e5;
background-image:url('wow.jpg');

background-size:auto
clear:right;
    float:left;
    width:761px;
    margin:0 0 48px 0;
    position:relative;
    z-index:1;
}

/* grid1css */

.showgrid {background:url(src/grid.png);}
.column, .span-1, .span-2, .span-3, .span-4, .span-5, .span-6, .span-7, .span-8, .span-9, .span-10, .span-11, .span-12, .span-13, .span-14, .span-15, .span-16, .span-17, .span-18, .span-19, .span-20, .span-21, .span-22, .span-23, .span-24 {float:left;margin-right:10px;}
.last {margin-right:0;}
.span-1 {width:30px;}
.span-2 {width:70px;}
.span-3 {width:110px;}
.span-4 {width:150px;}
.span-5 {width:190px;}
.span-6 {width:230px;}
.span-7 {width:270px;}
.span-8 {width:310px;}
.span-9 {width:350px;}
.span-10 {width:390px;}
.span-11 {width:430px;}
.span-12 {width:470px;}
.span-13 {width:510px;}
.span-14 {width:550px;}
.span-15 {width:590px;}
.span-16 {width:630px;}
.span-17 {width:670px;}
.span-18 {width:710px;}
.span-19 {width:750px;}
.span-20 {width:790px;}
.span-21 {width:830px;}
.span-22 {width:700px;}
.span-23 {width:910px;}
.span-24 {width:950px;margin-right:0;}



.resultRowValue {
  height: 30px;
  margin-bottom: 5px;
  float: left;
  border: 2px solid #DAA520;
  width: 10px;
}

.resultRowValue p {
  color: #111;
  font-size: 14px;
  margin-top: 5px;
  margin-left: 5px;
}

.resultLegend {
  margin-top: 10px;
  border: 2px solid #DAA520;
}

.resultLegendVal {
  float: left;
  font-size: 16px;
  color: #CD5C5C;
  margin-left: 130px;
}

.resultRowText {
  font-size: 16px;
  color: #CD5C5C;
  margin-bottom: 5px;
}

.questionnumber {
  height: 1.4em;
  color: #FFF;
  font: normal normal normal 1.5em/normal Arial, Times, serif;
  margin-top: 20px;
}

.verificationWarning {
  width: 210px;
  float: left;
  margin-right: 20px;
}

.modificationWarning {
  width: 210px;
  text-align: center;
  height: 1.1em;
  display:none;
}


.above-submit-survey {
  margin-top: 30px;
}


.submitArea {
  margin-top: 30px;
}

.submit-form-no-hover {
  background-color: #fff;
  border: 3px solid #808080;
  border-radius: 8px;
  -moz-border-radius: 8px;
  margin-left: 20px;
  padding-bottom: 13px;
  text-align: center;
  font-size: 16px;
  margin-top: 8px;
  width: 170px;
  height: 10px;
}

#submit-form {
  background-color: #fff;
  border: 3px solid #808080;
  border-radius: 8px;
  -moz-border-radius: 8px;
  margin-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  font-size: 13px;
  margin-top: 6px;
}

.questionSpacer {
  color: #CD5C5C;
  font: normal normal normal 1.5em/normal Arial, Times, serif;
  margin-top: 20px;
}

.radioButtonLabels {
  margin-top: -20px;
  margin-bottom: 5px;
}

.radioButtonLabel {
  margin-right: 38px;
  margin-left: 10px;
  font-size: 14px;
  color: #CD5C5C;
  width: 20px;
  float: left;
}

.radiobuttons {
  margin-bottom: 10px;
}

.radiobutton {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 15px;
  -moz-border-radius: 15px;
  margin-right: 40px;
  float: left;
  border: 4px solid #444;
}

.radiobuttonInner {
  background-color: #fff;
  width: 10px;
  height: 10px;
  margin-top: 5px;
  margin-left: 5px;
  border-radius: 10px;
  -moz-border-radius: 10px;
}

.hideError {
  display: none;
}

.error-box {
  background-color: #cc9999;
  border: 3px solid #9E0508;
  border-radius: 8px;
  -moz-border-radius: 8px;
  font-size: 16px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  width: 386px;
  margin-bottom: 10px;
}

.error-header {
  font-size: 20px;
  color: #fff;
}

.error-field {
  margin-left: 150px;
}

.submitLabel {
  margin-top: 15px;
  font-size: 18px;
  color: #fff;
  width: 150px;
  float: left;
}

.submitQuestion {
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 8px;
  -moz-border-radius: 8px;
  margin-left: 10px;
  margin-right: 10px;
  height: 40px;
  border: 3px solid #999;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.submitBox {
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 3px solid #CCFF99;
  border-radius: 8px;
  -moz-border-radius: 8px;
  margin-left: 10px;
  margin-right: 10px;
}

#submit-form-red:hover {
  border-color: #9E0508;
  background-color: #cc9999;
}

#submit-form:hover {
  background-color: #000;
  border-color: #fff;
  color: #fff;
}

.mybutton-half {
  background-color: #fff;
  border: 3px solid #808080;
  border-radius: 8px;
  -moz-border-radius: 8px;
  font-size 18px;
  margin-bottom: 20px;
}

.previousButtonSize {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 18px;
}

#deleteSurveyButton {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 18px;
}


#forward-backward-area {
  margin-top: 30px;
  margin-bottom: -10px;
}

.myColumn{
  width: 283px;
  float: left;
}

.innerColumn {
  width: 253px;
  margin-left: 15px;
}

.redBorder {
  border-left: 2px solid #8B2023;
  border-right: 2px solid #8B2023;
}

.redBorderTopBot {
  border-top: 2px solid #8B2023;
  border-bottom: 2px solid #8B2023;
}

.purpleBorder {
  border-left: 2px solid #532FAF;
  border-right: 2px solid #532FAF;
}

.purpleBorderTopBot {
  border-top: 2px solid #532FAF;
  border-bottom: 2px solid #532FAF;
}

.greenBorder {
  border-left: 2px solid #417309;
  border-right: 2px solid #417309;
}

.greenBorderTopBot {
  border-top: 2px solid #417309;
  border-bottom: 2px solid #417309;
}

.innerColumn p {
  color: #222;
  padding-top: 10px;
  margin-left: 15px;
  margin-right: 15px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.brighter-red {
  background-color: #4B1013;
}

.brighter-purple {
  background-color: #201F6F;
}

.brighter-green {
  background-color: #204010;
}

.white {
  background-color: #FFF;
}

.red {
  border: 3px solid #9E0508;
  background-color: #9E0508;
  border-radius: 6px;
  -moz-border-radius: 6px;
  background-color: #cc9999;
}

.purple {
  background-color: #030013;
}

.green {
  background-color: #000A00;
}

.prepend-half {
  margin-left: 11px;
}


.infoArea {
  width: 880px;
  clear: both;
  padding-top: 30px;
  margin-bottom: 20px;
}

.paragraphInfo {
  margin: 10px 10px 10px 10px;
  font-size: 13px;
}

.paragraphInfo a{
  color: #532FAF;
  text-decoration: underline;
}



.quoteArea{
  float: right;  
  width: 283px;
  height: 186px; 
}

.quoteArea img{
  z-index: 1;
}

.quoteArea p{
  z-index: 2; 
  font-size: 20px;
  width: 165px;
  height: 120px;
  margin-top: 50px;
  margin-left: 60px;
  position: absolute;
  color: #444;
}


